<p>Tkank you for booking your trip  width Meadowlark  Travel,{{cart.billing.name}}!</p>
<p>Your reservation number is {{cart.number}},and an email has been sent  to {{cart.billing.email}} for your records.</p>