<span class="btn btn-default btn-file">
	Upload
	<input type="file" class="form-control" required accept="image/*" id="fieldPhoto" data-url="/upload" multiple name="photo">
</span>
<div id="uploads"></div>
<div id="fieldUploads">
	
</div>
{{#section 'head'}}
	<link href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/style/uploadfile.css">
{{/section}}
{{#section 'jquery'}}
	<script src="/vendor/jqfu/vendor/jquery.ui.widget.js"></script>
	<script src="/vendor/jqfu/jquery.iframe-transport.js"></script>
	<script src="/vendor/jqfu/jquery.fileupload.js"></script>
	<script>
		$(function(){
			$('#fieldPhoto').fileupload({
				dataType:'json',
				done:function(e,data){
					$.each(data.result.files,function(index,file){
						$('#fieldUploads').append($('<div class="upload"></div>'+'<span class="glyphicon glyphicon-ok"></span>'+'&nbsp;'+file.originalName+'</div>'));
					});
				}
			});
		});
	</script>
{{/section}}